<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel-app</title>
</head>
<body>
  
   
  <header class="header" ><h1><strong>Travel-app</strong></h1>
  <main id="main">
    <section1 id="section1">
  <form class="form">
    <label class="destination">Trip Destination:</label>
    <input id="destination" class="text" type="text" value="" placeholder="please enter your destination">
    <label class="startdate">Trip start date: </label>

    <input id="startdate" class="trip date" type="date" >

    <label class="enddate">Trip end date: </label>
    <input id="enddate" class="trip date" type="date">


   <button id="submit" class="button " type="submit"><h1>Submit</h1>
     </button>
    </form>
    </section1>
<section2 id="section2">
  <div id="results">
    <img id="results-picture">
    </img>
    <div id="results-info">
      <h3 id="results-destination"></h3>
      <p id="results-date"></p>
      <p id="results-duration"></p>
      <p id="results-weather"></p>
    </div>
  </div>
</section2>
</main>

<p class="faq">FAQs:</p>
<button type="button" class="about-app">About App</button>
<div class="content">
  <p>The Travel App is designed to help travellers plan their upcoming trip. The app is very useful as it will provide an estimate of the weather forecast at the destination location for the course of your stay - this will help travellers in packing their bags and assist in carrying appropriate clothing based on the weather. Moreover, this app will provide a glimplse of the destination by displaying a picture. Importantly, it will help you keep a track on how many days are left for your trip. Hope you enjoy using this and hope this helps you plan your future trips!</p>
</div>
<button type="button" class="about-app">How to use?</button>
<div class="content">
  <p>This user-friendly Travel app is very easy to use. All you need to do is type in the place that you are planning to visit. Next, select your trip start data and trip end date. Finally click Submit and you are all set to obtain all the information that you will need to plan your trip! Check it out yourself! </p>
</div>

</div>
</br></br>
<div>
<footer class="footer">Dimple Chavda</footer>
</div>

<script>
 
  if ('serviceWorker' in navigator) {
      
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      });
  }
</script>

</body>
</html>