.header{
  margin: 0;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 247, 255));
    text-align: center;
    color: midnightblue;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 50%;
    font-size: xx-large;
  }
