//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rochester&display=swap');

*{
  margin: 0;
  padding: 0;
}



html, body {
	width: 100%;
	height: 100%;
	background-size: cover;
  background-color: purple;
  
}

#main{
	width:100%;
	margin-left: auto;
	margin-right:auto;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}
.faq{
	color: white;
}
.about-app {
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 208, 0));
  color:purple;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	
}

.active, .about-app:hover {
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 247, 255));
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(183, 0, 255));

}

#section1{
  display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-self: center;
	width: 100%;
		margin-top: 100px;
	height: 500px;

}
.footer{
	color: whitesmoke;
	font-size: large;
}

label{
  color:seashell;
  font-size: 25px;
}

input{
  width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
  color: darkblue;
  font-size: 25px;


}

.tripdate{
  width: 100%;
text-align: center;
flex-direction: column;
justify-content: center;
color:darkblue;
font-size: 25px;

}

.stratdate{
  width: 100%;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  color:darkblue;
  font-size: 14px;

  }

.enddate{
  text-align: center;
  flex-direction: row;
  justify-content: center;
  color:seashell;
  font-size: 18px;

  }
::placeholder{
  background-color:white;
  color: darkblue;
}

button{
  background-color:darksalmon ;
	padding: 5px 10px;
	text-decoration: none;
	color:darkblue;
	border: none;
	transition-duration: 0.4s;
	border-radius: 5px;

  width: fit-content;
}

#section2{
  display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	margin-bottom: 50px;
	margin-top: 80px;
	font-family: 'Times New Roman', Times, serif;
}

#results-info{
  display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 30px;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;

}

h3{
font-size: 14px;
}



#results-destination{
background-color: midnightblue;
font-family: 'Times New Roman', Times, serif;
color: aqua;

}

#results-date{
  background-color: midnightblue;
	font-family: 'Times New Roman', Times, serif;
	color: aqua;


}

#results-duration{
  background-color: midnightblue;
	font-family: 'Times New Roman', Times, serif;
	color: aqua;


}

#results-weather{
  background-color: midnightblue;
	font-family: 'Times New Roman', Times, serif;


}

#results-picture img{
	width: 30vw;
    height: 30vw;
}

#results{
	display: flex;
	width: 100%;
	margin-bottom: 30px;
	justify-content: space-evenly;
	flex-flow: row;
	color: aqua;
	align-items: center;
	grid-area: content;
	border-radius: 20px;
	box-shadow: 12px 16px 55px aquamarine;
}

p{
	width: 100%;
	display: flex;
	font-size: 20px;
  color: aqua;
	justify-content: space-evenly;
	grid-area: content;
	border-radius: 20px;
	
	flex-flow: row;
	margin: auto;

}